### 공공데이터

In [2]:
import pandas as pd

In [48]:
path = r'C:\Users\user\Desktop\303\NSO_INI.csv'
df=pd.read_csv(path, encoding = 'CP949')

In [49]:
df

  작업ID  조사구분      컬럼정보       값
0   IV  JOSA  SJOSA_YM  201907
1   IV  JOSA  EJOSA_YM  201909
2   IV  JOSA  BASEYEAR    2015

In [50]:
df.tail()

  작업ID  조사구분      컬럼정보       값
0   IV  JOSA  SJOSA_YM  201907
1   IV  JOSA  EJOSA_YM  201909
2   IV  JOSA  BASEYEAR    2015

In [51]:
df.info

<bound method DataFrame.info of   작업ID  조사구분      컬럼정보       값
0   IV  JOSA  SJOSA_YM  201907
1   IV  JOSA  EJOSA_YM  201909
2   IV  JOSA  BASEYEAR    2015>

In [52]:
df.shape

(3, 4)

In [53]:
df.isnull()

    작업ID   조사구분   컬럼정보      값
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False

In [54]:
df.isnull().sum()

작업ID    0
조사구분    0
컬럼정보    0
값       0
dtype: int64

In [55]:
df.isnull()

    작업ID   조사구분   컬럼정보      값
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False

In [58]:
df['컬럼정보']

0    SJOSA_YM
1    EJOSA_YM
2    BASEYEAR
Name: 컬럼정보, dtype: object

In [67]:
null_count = df.isnull().sum()
null_atw=null_count.reset_index()

In [68]:
null_atw

  index  0
0  작업ID  0
1  조사구분  0
2  컬럼정보  0
3     값  0

In [70]:
null_count=df.isnull().sum()
df_null=null_count.reset_index()
df_null.columns=['구분','결측값']
df_null

     구분  결측값
0  작업ID    0
1  조사구분    0
2  컬럼정보    0
3     값    0

In [62]:
null_count = df.isnull().sum()
null_atw.columns

Index(['index', 0], dtype='object')

In [72]:
df_null.sort_values(by='결측값').tail(3)

     구분  결측값
1  조사구분    0
2  컬럼정보    0
3     값    0