## 엑셀데이터 가져오기

In [1]:
import pandas as pd

In [2]:
path='data.csv'

In [3]:
path

'data.csv'

In [6]:
df=pd.read_csv(path, encoding = 'cp949')

In [7]:
df.head(3)

  등급    년도   점수
0  A  2013  1.5
1  B  2014  3.2
2  C  2015  2.4

In [9]:
df

  등급    년도   점수
0  A  2013  1.5
1  B  2014  3.2
2  C  2015  2.4
3  D  2016  1.8
4  E  2017  3.6
5  F  2018  7.2
6  G  2019  3.3
7  H  2020  7.7

In [11]:
df['등급']='aaa'

In [13]:
df[df['년도']>=2016]

    등급    년도   점수
3  aaa  2016  1.8
4  aaa  2017  3.6
5  aaa  2018  7.2
6  aaa  2019  3.3
7  aaa  2020  7.7